---
profile: true
---

<div style="margin: auto; width: 90%; padding-left: 30px;">
<ul class="example-nav js-examples-nav">
  <li><a href="/guibaiviet" class="">Gửi bài</a></li>
  <li><a href="/thongkegi" class="">Kiểm định gì?</a></li>
  <!-- <li><a href="https://epidemic.live/" class=""> epidemic.Live</a></li> -->
  <li><a href="https://ask.ytecongcong.com/" class="">Q&A</a></li>
  <li><a href="http://job.ytecongcong.com/"> Việc làm</a></li>
  <li><a href="http://www.fossbook.com" class="">Sách mở</a></li>
</ul>
</div>

{% include post-list.html %}

{% include footer.html %}
