<style>
.askbutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #F25056;
  border: none;
  color: #FFFFFF;
  /*text-align: center;*/
  font-size: 24px;
  padding: 6px;
  width: 80%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.askbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.askbutton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.askbutton:hover span {
  padding-right: 25px;
}

.askbutton:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<div style="display: block;
    text-align: center; margin-top: 10px; ">
<form method="post" action="http://ask.ytecongcong.com/?qa=ask">
<button type="submit" class="askbutton" style="vertical-align:middle"><span>Đặt câu hỏi </span></button>
<input type="hidden" name="doask1" value="1"></form>
</div>
