<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}/"> &#x2302; </a>
    {% endif %}
    <!-- <span class="arrow">←</span> -->
    <!-- {% if page.url != "/about/" %} -->
        <a href="http://stats.ytecongcong.com">? </a>
    <!-- {% endif %} -->
    <!-- {% if page.url != "/about/" %}
        <a href="{{ site.baseurl }}about">? </a>
    {% endif %} -->
    {% if page.url != "/search/" %}
        <a href="{{ site.baseurl }}search">&#128270; </a>
    {% endif %}
    {% if page.url != "/glossary/" %}
        <a href="{{ site.baseurl }}glossary">&#x2608; </a>
    {% endif %}
    {% if page.url != "/archive/" %}
        <a href="{{ site.baseurl }}archive">&#9776; </a>
    {% endif %}
    <a href="{{ site.baseurl }}feed.xml">&#9829;</a>
    <!-- <a class="cta" href="{{ site.baseurl }}feed.xml">&#9829;</a> -->
</nav>
