<style type="text/css">
    .sticky {
       position: fixed;
       top: 15px;
    }
</style>
<nav class="main-nav sticky-block">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}/"> &#x2302; Home</a>
    {% endif %}
    {% if page.url != "/glossary/" %}
        <a href="{{ site.baseurl }}/glossary">&#x2608; Glossary</a>
    {% endif %}
    {% if page.url != "/archive/" %}
        <a href="{{ site.baseurl }}/archive">&#9776; Archive</a>
    {% endif %}
    <!-- <a href="{{ site.baseurl }}/feed.xml">&#9829; Feeds</a> -->
    {% if page.url != "/guibaiviet/" %}
    <a href='#formSubmit' data-toggle="modal"> &#9826; Gửi bài</a>
    {% endif %}
    {% if page.url != "/thongkegi/" %}
    <a href="/thongkegi" class="">&#9842; Kiểm định gì?</a>
    {% endif %}
    <a href="http://forum.ytecongcong.com/" class="">&#9749; Q&A</a>
    <a href="http://forum.ytecongcong.com/C-h-i-vi-c-lam-f8.html">&#9832; Jobs</a>
</nav>
