---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
        <div style="margin: auto; width: 90%; padding-left: 30px;">
        <ul class="example-nav js-examples-nav">
          <li><a href="/guibaiviet" class="">Gửi bài</a></li>
          <li><a href="/thongkegi" class="">Kiểm định gì?</a></li>
          <!-- <li><a href="https://epidemic.live/" class=""> epidemic.Live</a></li> -->
          <li><a href="http://ask.ytecongcong.com/" class="">Q&A</a></li>
          <li><a href="http://job.ytecongcong.com/"> Việc làm</a></li>
          <li><a href="http://www.fossbook.com" class="">Sách mở</a></li>
        </ul>
        </div>
    </header>
    <section id="post-body">
      {{content}}
    </section>
      {% include askbox.html %}
      {% include ads.html %}
</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

<footer id="post-meta" class="clearfix">
    <a href="{{ site.baseurl }}">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- <h3>Bài liên quan</h3>
{% assign listed_posts_urls = page.url | split: ' ' %}
{% for tag in page.tags %}
  {% for mypost in site.tags[tag] %}
    {% if listed_posts_urls contains mypost.url %}
    {% else %}
      <div>
        <h5><a href="{{ mypost.url }}">{{ mypost.title }}</a></h5>
      </div>
      {% assign listed_posts_urls = listed_posts_urls | push: mypost.url %}
    {% endif %}
  {% endfor %}
{% endfor %} -->
